<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barney.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,164}}</string>
                <key>sourceSize</key>
                <string>{58,164}</string>
            </dict>
            <key>running_barney.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{751,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,142}}</string>
                <key>sourceSize</key>
                <string>{751,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barney_spritesheet.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a321d354f03edd6b00fcd33df18bf5f0$</string>
            <key>textureFileName</key>
            <string>barney_spritesheet.png</string>
        </dict>
    </dict>
</plist>
